<!DOCTYPE html>
<html>
<head>
    <title>Penetration Testing Tool</title>
</head>
<body>
    <h1>Penetration Testing Tool</h1>
    <form action="/process" method="post">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url"><br><br>
    
        <input type="submit" value="Submit">
    </form>
    <div class="container">
        <h2>Stored URLs</h2>
        <p>Your url is {{ url1 }}</p>
        <p>your URL is {{status}}
        </p>
        
    </div>
</body>
</html>
